In [192]:
import pandas as pd

In [193]:
CanData = pd.read_csv('C:\CanData\CanData.csv', index_col = False)

In [194]:
CanData.tail()

,Postcode,Borough,Neighbourhood
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern
101,M8Y,Etobicoke,"Humber Bay, King's Mill Park, Kingsway Park So..."
102,M8Z,Etobicoke,"Kingsway Park South West, Mimico NW, The Queen..."

In [195]:
CanData.insert(3, "Latitude","", True) 
CanData.insert(4, "Longitude", "", True)

In [196]:
CanData.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,,
1,M4A,North York,Victoria Village,,
2,M5A,Downtown Toronto,"Harbourfront, Regent Park",,
3,M6A,North York,"Lawrence Heights, Lawrence Manor",,
4,M7A,Queen's Park,Queen's Park,,

In [197]:
url = 'http://cocl.us/Geospatial_data'

In [198]:
LLData = pd.read_csv(url, header=0)

In [199]:
LLData.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [200]:
TEMP = pd.DataFrame(columns=['Postal Code', 'Latitude', 'Longitude'])
TEMP

Empty DataFrame
Columns: [Postal Code, Latitude, Longitude]
Index: []

In [201]:
for index, row in CanData.iterrows():
    a = (LLData.loc[LLData['Postal Code'] == CanData['Postcode'][index]])
    TEMP = TEMP.append(a, ignore_index=True)
    CanData['Latitude'][index]=TEMP['Latitude'][index]
    CanData['Longitude'][index]=TEMP['Longitude'][index]

In [202]:
CanData.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.7533,-79.3297
1,M4A,North York,Victoria Village,43.7259,-79.3156
2,M5A,Downtown Toronto,"Harbourfront, Regent Park",43.6543,-79.3606
3,M6A,North York,"Lawrence Heights, Lawrence Manor",43.7185,-79.4648
4,M7A,Queen's Park,Queen's Park,43.6623,-79.3895

In [203]:
CanData.tail()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.6537,-79.5069
99,M4Y,Downtown Toronto,Church and Wellesley,43.6659,-79.3832
100,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern,43.6627,-79.3216
101,M8Y,Etobicoke,"Humber Bay, King's Mill Park, Kingsway Park So...",43.6363,-79.4985
102,M8Z,Etobicoke,"Kingsway Park South West, Mimico NW, The Queen...",43.6288,-79.521